@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f8efef;
  border: 0.1px solid #ccc;
}

.search-bar input {
  width: 200px;
  height: 40px;
  border: 0.1px solid gray;
}

.search-bar input::placeholder {
  padding-left: 5px;
}

.nav-border {
  border-bottom: 1.8px solid #202020;
}

.footer-border {
  border-top: 1.8px solid #202020;
}
